@font-face {
  font-family: Raleway;
  src: "https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 80%;
  margin: auto;
  background-color: #3D4848;
  display: -ms-grid;
  display: grid;
  font-family: Raleway;
  color: #F2F2F2;
  -ms-grid-rows: 15% auto 15%;
      grid-template-rows: 15% auto 15%;
      grid-template-areas: "gridHeader" "gridMain" "gridFooter";
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: gridHeader;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 0 10%;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gridMain;
  padding: 0 10% 0 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (100vh)[4];
      grid-template-rows: repeat(4, 100vh);
      grid-template-areas: "landingPage" "workPage" "aboutPage" "contactPage";
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gridFooter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10% 0 10%;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header li {
  list-style: none;
  display: inline-block;
  width: 120px;
}

header li:hover {
  font-weight: 800;
  cursor: pointer;
}

header h1 {
  font-size: 10vh;
  font-weight: 800;
}

main button {
  margin: 50px;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

section#landingPage {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: landingPage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#workPage {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: workPage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactPage {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contactPage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#aboutPage {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aboutPage;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.normalButton {
  margin: 50px;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */