@mixin flexCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexVerticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}